<div class="content">
  <h1 class="title">Your account has been deactivated</h1>
  <p class="lead">
    This is a confirmation that your Faraja Yangu TV account has been deactivated.
  </p>
  <p class="lead">
    You will no longer have access to your account or any associated content.
    If this was a mistake or you'd like to reactivate your account, please contact our support team.
  </p>
  <p class="muted">
    We're sorry to see you go. Thank you for being part of our community.
  </p>
</div>
