<div class="content">
  <h1 class="title">Welcome to Faraja Yangu TV, {first_name}!</h1>
  <p class="lead">
    We're excited to have you on board. Your new account has been created successfully
    and you can now start exploring inspiring content, stories, and more.
  </p>
  <p class="lead">
    Use your registered email address to sign in. If you didn't create this account,
    please ignore this message.
  </p>
  <p class="muted">
    Thank you for being part of the Faraja Yangu TV community.
  </p>
</div>
